[submodule "components/picoruby-esp32"]
	path = components/picoruby-esp32
	url = https://github.com/picoruby/picoruby-esp32.git
[submodule "mrbgems/picoruby-dfrobot_rotary_encoder"]
	path = mrbgems/picoruby-dfrobot_rotary_encoder
	url = https://github.com/kirikak2/picoruby-dfrobot_rotary_encoder.git
